
.flex-container {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
    gap: 5px;

}

.flex-container > div {
    border-radius: 5px;
    padding: 8px;
}


.item1 {
    /* flex:1 1 auto; */
    flex-grow: 1;
    align-self: auto;
}

.item2 {
    /* flex:2 1 auto; */
    flex-grow: 2;
}

.item3 {
    /* flex:3 1 auto; */
    order: 0;
    flex-grow: 3;
    flex-shrink: 1;
}


body {
    overflow-x: hidden;
    padding-top: 170px;
}

.text1 {
    color: #ffffff;
    font-size: 36px;
    line-height: 1.2px;
    width: 18%;
    height: 43px;
}


.search {
    width: 40%;
    max-width: 100%;
    margin-top: 14px;
    height: 60px;
}

.search2 {
    background-color: #f3f3f3;
    height: 60px;
    border-radius: 10px;
    bottom: 60px;
}

.button_search {
    background-color: #f1f0f0;
    height: 40px;
    width: 40px;
    border-radius: 10px;
}

.lc {
    height: 134px;
    width: 72px;
    left: 421px;
    top: 5px;

}

.LK {
    color: #ffffff;
    text-align: left;
    vertical-align: text-top;
    font-size: 36px;
    align-self: flex-start;
    left: 533px;
    top: 50.5px;
    width: 300px;
    height: 43px;
    outline: none;
}

* {
    box-sizing: border-box;
}


.table {
    width: 100%;
    border: none;
    margin-bottom: 20px;
    border-collapse: separate;
}

.table thead th {
    font-weight: bold;
    text-align: left;
    border: none;
    padding: 10px 15px;
    background: #EDEDED;
    font-size: 14px;
    border-top: 1px solid #ddd;
}

.table tr th:first-child, .table tr td:first-child {
    border-left: 1px solid #ddd;
}

.table tr th:last-child, .table tr td:last-child {
    border-right: 1px solid #ddd;
}

.table thead tr th:first-child {
    border-radius: 20px 0 0 0;
}

.table thead tr th:last-child {
    border-radius: 0 20px 0 0;
}

.table tbody td {
    text-align: left;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    vertical-align: top;
}

.table tbody tr:nth-child(even) {
    background: #F8F8F8;
}

.table tbody tr:last-child td {
    border-bottom: 1px solid #ddd;
}

.table tbody tr:last-child td:first-child {
    border-radius: 0 0 0 20px;
}

.table tbody tr:last-child td:last-child {
    border-radius: 0 0 20px 0;
}


header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #004EC3;
    height:170px;
    width:100%;
    padding: 25px 46px;
    position:absolute;
    top:-1px;
}

.wrap-logo {
    display: flex;
    align-items: center;
}

header a {
    color: #f1f0f0;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
}

header a.logo {
    font-size: 25px;
    font-weight: bold;
}
header a.active {
    background-color: #0342A2;
}
header a:hover {
    color: #f1f0f0;
}
nav {
    display: flex;
    align-items: center;
}

dialog {
    border-radius: 10px;
    position: fixed;
    top:100px;
    left: 0;
    right: 0;
    margin: auto;
    border: solid;
    padding: 1em;
    background: white;
    color: black;
}

td {
    text-align: start;
}

dialog[open] {
    -webkit-animation: myFadeIn 0.5s ease normal;
}

@-webkit-keyframes myFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

dialog td {
    margin: 100px;
}
